[app]
consumer.key = YOU_KEY
consumer.secret = YOUR_SECRET
update.interval.minutes = 1

[client]
client.notestore = https://sandbox.evernote.com/shard/s1/notestore
client.token = "YOUR_DEVELOPER_TOKEN"
client.sandbox = true
client.china = false

[deploy]
deploy.file.last_update_count = ./var/last_update_count.info
deploy.file.last_update_time = ./var/last_update_time.info